<h1>
	Welcome stranger
</h1>

<p>
	This is a place where I put all my thoughts, ramblings, and other sundry work.
	Hope you find something enjoyable.
</p>

<!-- <pre style="white-space: pre-wrap;"><code [highlight]="css" [languages]="['css']"></code></pre> -->

<h1>Here is some code</h1>
<h4>Go:</h4>
<pre><code [highlight]="code" [languages]="['go']"></code></pre>
<h4>Typescript:</h4>
<pre><code [highlight]="ts" [languages]="['typescript']"></code></pre>

<h1>Here is a grid</h1>
<section>
	<article>
		<h3>This is a card</h3>
		<p>{{lipsum}}</p>
	</article>
</section>
<section>
	<article>
		<h3>This is a card</h3>
		<p>{{lipsum}}</p>
	</article>
	<article>
		<h3>This is a card</h3>
		<p>{{lipsum}}</p>
	</article>
</section>

<img src="https://images.unsplash.com/photo-1509474390126-3c8ff3b2bdbe">

<h1>Here is a form</h1>
<form>
	<p>
		<label for="email">Email</label>
		<br>
		<input type="email" id="email">
	</p>
	<p>
		<label for="name">Name</label>
		<br>
		<input type="text" id="name">
	</p>
	<button type="submit" style="margin-left: 0">Send</button>
</form>

<h1>Here is a table</h1>
<table>
	<thead>
		<tr>
			<th>This</th>
			<th>Is</th>
			<th>The</th>
			<th>Header</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>This</td>
			<td>Is</td>
			<td>The</td>
			<td>Body</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>This</td>
			<td>Is</td>
			<td>The</td>
			<td>Footer</td>
		</tr></tfoot>
</table>